<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="aslTanslatorHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="d:\anaconda\envs\django\python.exe|d:\anaconda\envs\django\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <add key="PYTHONPATH" value="C:\Users\49135\Documents\m1\deeplearning\projet-annuel\model\projet_annuel\paBackEnd" />
            <add key="DJANGO_SETTINGS_MODULE" value="aslTanslator.settings" />
    </appSettings>
</configuration>
